*.swo
*.swp
*.pyc
.DS_Store
*.tar
*.png
.ipynb_checkpoints/
.idea/
__pycache__/
*.pdf
*.npz
advertorch/__pycache__/
advertorch.egg-info
data/
.pytest_cache/
.cache/
*.pt
Untitled*ipynb
git_stats
build/
dist/
_build/
_tutorials/
.coverage
*.xml
